# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

notebooks/data/*
notebooks/env/*

# produced vignettes
vignettes/*.html
vignettes/*.pdf
titanic.pdf
misc/big_syllabus.md
misc/big_syllabus.pdf
*.key
data/ercot/load_data.csv
data/ercot/station_data.csv
data/ercot/dewpoint_impute.csv
data/ercot/temperature_impute.csv
data/ercot/zones.csv
.DS_Store
notebooks/eurosat.ipynb
slides/02_probability_refresher/probability_fun_topics_extra.pdf
data/corpora/words.zip
data/corpora/gutenberg.zip
data/corpora/inaugural.zip
data/corpora/stopwords.zip
data/corpora/gutenberg/austen-emma.txt
data/corpora/gutenberg/austen-persuasion.txt
data/corpora/gutenberg/austen-sense.txt
data/corpora/gutenberg/bible-kjv.txt
data/corpora/gutenberg/blake-poems.txt
data/corpora/gutenberg/bryant-stories.txt
data/corpora/gutenberg/burgess-busterbrown.txt
data/corpora/gutenberg/carroll-alice.txt
data/corpora/gutenberg/chesterton-ball.txt
data/corpora/gutenberg/chesterton-brown.txt
data/corpora/gutenberg/chesterton-thursday.txt
data/corpora/gutenberg/edgeworth-parents.txt
data/corpora/gutenberg/melville-moby_dick.txt
data/corpora/gutenberg/milton-paradise.txt
data/corpora/gutenberg/README
data/corpora/gutenberg/shakespeare-caesar.txt
data/corpora/gutenberg/shakespeare-hamlet.txt
data/corpora/gutenberg/shakespeare-macbeth.txt
data/corpora/gutenberg/whitman-leaves.txt
data/corpora/inaugural/1789-Washington.txt
data/corpora/inaugural/1793-Washington.txt
data/corpora/inaugural/1797-Adams.txt
data/corpora/inaugural/1801-Jefferson.txt
data/corpora/inaugural/1805-Jefferson.txt
data/corpora/inaugural/1809-Madison.txt
data/corpora/inaugural/1813-Madison.txt
data/corpora/inaugural/1817-Monroe.txt
data/corpora/inaugural/1821-Monroe.txt
data/corpora/inaugural/1825-Adams.txt
data/corpora/inaugural/1829-Jackson.txt
data/corpora/inaugural/1833-Jackson.txt
data/corpora/inaugural/1837-VanBuren.txt
data/corpora/inaugural/1841-Harrison.txt
data/corpora/inaugural/1845-Polk.txt
data/corpora/inaugural/1849-Taylor.txt
data/corpora/inaugural/1853-Pierce.txt
data/corpora/inaugural/1857-Buchanan.txt
data/corpora/inaugural/1861-Lincoln.txt
data/corpora/inaugural/1865-Lincoln.txt
data/corpora/inaugural/1869-Grant.txt
data/corpora/inaugural/1873-Grant.txt
data/corpora/inaugural/1877-Hayes.txt
data/corpora/inaugural/1881-Garfield.txt
data/corpora/inaugural/1885-Cleveland.txt
data/corpora/inaugural/1889-Harrison.txt
data/corpora/inaugural/1893-Cleveland.txt
data/corpora/inaugural/1897-McKinley.txt
data/corpora/inaugural/1901-McKinley.txt
data/corpora/inaugural/1905-Roosevelt.txt
data/corpora/inaugural/1909-Taft.txt
data/corpora/inaugural/1913-Wilson.txt
data/corpora/inaugural/1917-Wilson.txt
data/corpora/inaugural/1921-Harding.txt
data/corpora/inaugural/1925-Coolidge.txt
data/corpora/inaugural/1929-Hoover.txt
data/corpora/inaugural/1933-Roosevelt.txt
data/corpora/inaugural/1937-Roosevelt.txt
data/corpora/inaugural/1941-Roosevelt.txt
data/corpora/inaugural/1945-Roosevelt.txt
data/corpora/inaugural/1949-Truman.txt
data/corpora/inaugural/1953-Eisenhower.txt
data/corpora/inaugural/1957-Eisenhower.txt
data/corpora/inaugural/1961-Kennedy.txt
data/corpora/inaugural/1965-Johnson.txt
data/corpora/inaugural/1969-Nixon.txt
data/corpora/inaugural/1973-Nixon.txt
data/corpora/inaugural/1977-Carter.txt
data/corpora/inaugural/1981-Reagan.txt
data/corpora/inaugural/1985-Reagan.txt
data/corpora/inaugural/1989-Bush.txt
data/corpora/inaugural/1993-Clinton.txt
data/corpora/inaugural/1997-Clinton.txt
data/corpora/inaugural/2001-Bush.txt
data/corpora/inaugural/2005-Bush.txt
data/corpora/inaugural/2009-Obama.txt
data/corpora/inaugural/2013-Obama.txt
data/corpora/inaugural/2017-Trump.txt
data/corpora/inaugural/2021-Biden.txt
data/corpora/inaugural/README
data/corpora/stopwords/arabic
data/corpora/stopwords/azerbaijani
data/corpora/stopwords/basque
data/corpora/stopwords/bengali
data/corpora/stopwords/catalan
data/corpora/stopwords/chinese
data/corpora/stopwords/danish
data/corpora/stopwords/dutch
data/corpora/stopwords/english
data/corpora/stopwords/finnish
data/corpora/stopwords/french
data/corpora/stopwords/german
data/corpora/stopwords/greek
data/corpora/stopwords/hebrew
data/corpora/stopwords/hinglish
data/corpora/stopwords/hungarian
data/corpora/stopwords/indonesian
data/corpora/stopwords/italian
data/corpora/stopwords/kazakh
data/corpora/stopwords/nepali
data/corpora/stopwords/norwegian
data/corpora/stopwords/portuguese
data/corpora/stopwords/README
data/corpora/stopwords/romanian
data/corpora/stopwords/russian
data/corpora/stopwords/slovene
data/corpora/stopwords/spanish
data/corpora/stopwords/swedish
data/corpora/stopwords/tajik
data/corpora/stopwords/turkish
data/corpora/words/en
data/corpora/words/en-basic
data/corpora/words/README
data/sentiment/vader_lexicon.zip
data/taggers/averaged_perceptron_tagger.zip
data/taggers/averaged_perceptron_tagger/averaged_perceptron_tagger.pickle
data/tokenizers/punkt.zip
data/tokenizers/punkt/czech.pickle
data/tokenizers/punkt/danish.pickle
data/tokenizers/punkt/dutch.pickle
data/tokenizers/punkt/english.pickle
data/tokenizers/punkt/estonian.pickle
data/tokenizers/punkt/finnish.pickle
data/tokenizers/punkt/french.pickle
data/tokenizers/punkt/german.pickle
data/tokenizers/punkt/greek.pickle
data/tokenizers/punkt/italian.pickle
data/tokenizers/punkt/malayalam.pickle
data/tokenizers/punkt/norwegian.pickle
data/tokenizers/punkt/polish.pickle
data/tokenizers/punkt/portuguese.pickle
data/tokenizers/punkt/README
data/tokenizers/punkt/russian.pickle
data/tokenizers/punkt/slovene.pickle
data/tokenizers/punkt/spanish.pickle
data/tokenizers/punkt/swedish.pickle
data/tokenizers/punkt/turkish.pickle
data/tokenizers/punkt/PY3/czech.pickle
data/tokenizers/punkt/PY3/danish.pickle
data/tokenizers/punkt/PY3/dutch.pickle
data/tokenizers/punkt/PY3/english.pickle
data/tokenizers/punkt/PY3/estonian.pickle
data/tokenizers/punkt/PY3/finnish.pickle
data/tokenizers/punkt/PY3/french.pickle
data/tokenizers/punkt/PY3/german.pickle
data/tokenizers/punkt/PY3/greek.pickle
data/tokenizers/punkt/PY3/italian.pickle
data/tokenizers/punkt/PY3/malayalam.pickle
data/tokenizers/punkt/PY3/norwegian.pickle
data/tokenizers/punkt/PY3/polish.pickle
data/tokenizers/punkt/PY3/portuguese.pickle
data/tokenizers/punkt/PY3/README
data/tokenizers/punkt/PY3/russian.pickle
data/tokenizers/punkt/PY3/slovene.pickle
data/tokenizers/punkt/PY3/spanish.pickle
data/tokenizers/punkt/PY3/swedish.pickle
data/tokenizers/punkt/PY3/turkish.pickle
notebooks/blender.ipynb
